@charset "UTF-8"; 

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif !important;
}

body::-webkit-scrollbar { width: 10px; /*스크롤바의 너비*/  height: 5px;} 
    
body::-webkit-scrollbar-thumb { 
    background-color: #22b3c1; /*스크롤바의 색상*/ 
    border-radius: 0; /*스크롤바 라운드*/} 
    
body::-webkit-scrollbar-track { 
background-color: #eee; /*스크롤바 트랙 색상*/ 
border-radius: 0; /*스크롤바 트랙 라운드*/ 
}


.header-wrap{
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%; 
    z-index: 100;
    border-bottom: 0.5px solid #dfdfdf;
}

.header-cnt{
    position: relative;
    margin: 0 auto;
    max-width: 1296px;
}

.header-wrap .logo{
    padding: 20px 0;
    width: 150px;
}

.header-wrap .logo img{
    display: block;
    width: 100%;
}

.header-wrap ul{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-wrap ul li{
    padding: 0 5px;
    float: left;
}

.header-wrap ul li a{
    display: block;
    color: #282828;
    padding: 5px 20px;
    transition: all 0.2s;
    border-radius: 25px;
}

.header-wrap ul li a:hover{
    color: #fff !important;
    background-color: #22b3c1;
    border-radius: 25px;
    font-weight: 700;
}